@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f9f9f9;
    font-size: 14px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}


.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}


.services-map {
    background-color: #314b57;
}

.services-map__container {
    display: flex;
    gap: 10px;
}

.services__thumbnails {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}

.services__title {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto Slab';
}

.services__thumbnails-list {
    display: flex;
    gap: 20px;
    width: 100%;
}

.services__thumbnail {
    text-align: center;
    width: 100%;
}

.services__thumbnail-link img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.services__thumbnail-title {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: 'roboto Slab';
}

.map {
    flex: 1;
}

.map__link img {
    height: 100%;
    width:100%;
    object-fit: cover;
    width: 100%;
}


.service-area {
    margin-top: 40px;
}

.service-area__title {
    font-size: 35px;
    font-weight: 700;
    color: #ab3c3c;
    font-family: 'Roboto Slab';
    text-transform: uppercase;
}

.service-area__content {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.service-area__image {
    flex: 1;
}

.service-area__image img {
    width: 100%;
}


.service-area__image img{
    width:100%
    }
.service-area__description {
    flex: 2;
}
.service-area__links{
    margin: 20px 0;
}
.service-area__links a {
    display: block;
    color: #ab3c3c;
}


.articles {
    margin-top: 40px;
}

.articles__title {
    font-size: 28px;
    font-weight: 700;
    color: #ab3c3c;
    font-family: 'Roboto Slab';
}

.articles__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.article img {
    width: 100%;
    height: auto;
}

.article p {
    margin-top: 10px;
}

.article a {
    color: #ab3c3c;
    margin-top: 20px;
    text-decoration: underline;
}


@media (max-width: 768px) {
    .services-map__container,
    .service-area__content {
        flex-direction: column;
    }
    
    .articles__list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .articles__list {
        grid-template-columns: 1fr;
    }

  .services__thumbnails-list {
    grid-template-columns: repeat(2, 1fr); /* Two columns on small screens */
  }
}
